*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

body {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0deg, 0%, 98%);
}

p {
  color: hsl(229deg, 6%, 66%);
}

.container {
  padding: 8.4rem 3.2rem;
}

.heading {
  text-align: center;
  margin-bottom: 7.4rem;
}
.heading__title {
  font-size: 2.4rem;
  font-weight: 200;
  color: hsl(234deg, 12%, 34%);
  margin-bottom: 1.6rem;
}
.heading__title span {
  font-weight: 600;
  letter-spacing: 0.2px;
}
.heading__content {
  font-size: 1.6rem;
  letter-spacing: -0.4px;
  line-height: 2.5rem;
}

.grid {
  display: grid;
  gap: 2.4rem;
}
.grid__card {
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  height: 22rem;
  padding: 3rem 2.8rem;
  position: relative;
}
.grid__card__title {
  font-size: 2rem;
  font-weight: 600;
  color: hsl(234deg, 12%, 34%);
  margin-bottom: 0.5rem;
}
.grid__card__desc {
  letter-spacing: 0.1px;
}
.grid__card__icon {
  position: absolute;
  right: 2.8rem;
  bottom: 3rem;
  height: 5.8rem;
  width: 5.8rem;
}
.grid__card--cyan {
  border-top: 3px solid hsl(180deg, 62%, 55%);
}
.grid__card--red {
  border-top: 3px solid hsl(0deg, 78%, 62%);
}
.grid__card--orange {
  border-top: 3px solid hsl(34deg, 97%, 64%);
}
.grid__card--blue {
  border-top: 3px solid hsl(212deg, 86%, 64%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}