@use "reset";
@use "colors" as *;
@use "breakpoints" as *;

body {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  background-color: $ltr-gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

p {
  color: $grayish-blue;
}

.container {
  padding-block: 8.4rem;
  margin: 0 3.2rem;
  max-width: 111rem;
}

.heading {
  text-align: center;
  margin-bottom: 7.4rem;

  @include breakpoint(first) {
    margin-bottom: 6.4rem;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 200;
    color: $dkr-blue;
    margin-bottom: 1.6rem;

    @include breakpoint(first) {
      font-size: 3.6rem;
    }

    & span {
      font-weight: 600;
      letter-spacing: 0.2px;
    }
  }

  &__content {
    font-size: 1.6rem;
    letter-spacing: -0.4px;
    line-height: 2.5rem;
    max-width: 55ch;
    margin: 0 auto;
  }
}

.grid {
  display: grid;
  gap: 2.4rem;

  @include breakpoint(first) {
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
  }

  &__card {
    background-color: white;
    border-radius: 0.6rem;
    box-shadow: 0px 18px 50px -10px lighten($color: $grayish-blue, $amount: 10%);
    height: 22rem;
    padding: 3rem 2.8rem;
    position: relative;

    &__title {
      font-size: 2rem;
      font-weight: 600;
      color: $dkr-blue;
      margin-bottom: 0.5rem;
    }

    &__desc {
      letter-spacing: 0.1px;
    }

    &__icon {
      position: absolute;
      right: 2.8rem;
      bottom: 3rem;
      height: 5.8rem;
      width: 5.8rem;

      @include breakpoint(first) {
        height: 6.4rem;
        width: 6.4rem;
      }
    }

    &--cyan {
      border-top: 3px solid $cyan;

      @include breakpoint(first) {
        grid-row: span 2;
      }
    }

    &--red {
      border-top: 3px solid $red;
    }

    &--orange {
      border-top: 3px solid $orange;

      @include breakpoint(first) {
        grid-row-start: 2;
        grid-column-start: 2;
      }
    }

    &--blue {
      border-top: 3px solid $blue;

      @include breakpoint(first) {
        grid-row: span 2;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
